APP_ENV=dev
LOG_LEVEL=INFO

TELEGRAM_BOT_TOKEN=put_telegram_token_here

HYPERLIQUID_API_KEY=put_hyperliquid_api_key_here
HYPERLIQUID_API_SECRET=put_hyperliquid_api_secret_here

MEXC_API_KEY=put_mexc_api_key_here
MEXC_API_SECRET=put_mexc_api_secret_here
